{% extends 'layouts/base.html.twig' %}

{% block body %}

<h1 class="text-center h2 mt-5">
<img src="/images/Articles.png"

    style="border: 1px solid #ddd;
  border-radius: 2px;
  padding: 5px;
  width: 250px;
  border: none;
  "

     >



</h1>
<p><a href="/create">Ajouter un nouvelle Article</a></p>

{% set var = 1 %}

<div class="list-group list-group-flush">
{%for article in articles %}

  <a href="/articles/{{ article.id}}" class="list-group-item list-group-item-action">
 	<div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ article.name }} </h5>
      <p> <span class="badge badge-success"> {{article.price}} $  </span></p>
</div>
 	  <img src="/images/{{ article.id}}.jpg" 
 	  style="border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  width: 250px;
  border: none;
  "

 	   >
    <div class="d-flex w-100 justify-content-between">
    

      
  
    <p class="mb-1 text-muted">{{ article.description }}</p></small>

    </div>
  </a>
  {% endfor %}
</div>


{% endblock %}
