{% extends 'layouts/base.html.twig' %}

{% block body %}


	


<div class="row">
<div class "col-md-6 mx-auto">
	
	<h1 class="mt-5 h2 font-weight-light">{{articles.name}}</h1>

<img src="/images/{{ articles.id}}.jpg" 
 	  style="border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  width: 500px;
  border: none;
  "

 	   >


	<h2 class="h2 badge badge-success">{{articles.price}} euros</h2>
	
	
	<p>{{ articles.description}}</p>

	<a href ="{{articles.id}}/edit">edier l'article</a>

	<p><a href ="/articles">&larr; Retour</a></p>
	<a href ="/articles/{{ articles.id }}/achat">
	<button type="button" class="btn btn-primary btn-lg btn-block">Acheter</button>
	</a>	


</div>
</div>


</script>


{% endblock %}

